/* ========== start of variable ========== */
:root {
  --hue: 227;
  --sat: 47%;
  --primary-color: hsl(var(--hue), var(--sat), 52%);
  --primary-color-light: hsl(var(--hue), var(--sat), 85%);
  --primary-color-lighten: hsl(var(--hue), var(--sat), 80%);
  --secondary-color: hsl(var(--hue), var(--sat), 53%);
  --title-color: hsl(var(--hue), 4%, 15%);
  --text-color: hsl(var(--hue), 4%, 35%);
  --text-color-light: hsl(var(--hue), 4%, 65%);
  --body-color: hsl(var(--hue), 0%, 100%);
  --container-color: #ffffff;
}

/* ========== end of variable ========== */
/* ========== start of base ========== */
html {
  line-height: 1.15; /* 1 */
  scroll-behavior: smooth;
  max-width: 1360px;
  min-width: 320px;
  margin: auto;
}

body {
  direction: ltr;
  font-family: cursive;
  display: grid;
  grid-template-rows: repeat(3, auto);
}

/* ===== Render the `main` element consistently in IE. ===== */
main {
  display: block;
  padding: 0rem 1rem;
}

/* =====    
Correct the font size and margin on `h1` elements within `section` and
`article` contexts in Chrome, Firefox, and Safari. 
===== */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* =====    
Grouping content
1. Add the correct box sizing in Firefox.
2. Show the overflow in Edge and IE.
===== */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/* =====    
1. Correct the inheritance and scaling of font size in all browsers.
2. Correct the odd `em` font sizing in all browsers.
===== */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* =====    
Text-level semantics
Remove the gray background on active links in IE 10.
===== */
a {
  background-color: transparent;
}

/* =====    
1. Remove the bottom border in Chrome 57-
2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
===== */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/* ===== Add the correct font weight in Chrome, Edge, and Safari. ===== */
b,
strong {
  font-weight: bolder;
}

/* =====    
1. Correct the inheritance and scaling of font size in all browsers.
2. Correct the odd `em` font sizing in all browsers.
===== */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* ===== Add the correct font size in all browsers. ===== */
small {
  font-size: 80%;
}

/* =====    
Prevent `sub` and `sup` elements from affecting the line height in
all browsers.
===== */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* =====    
Embedded content
Remove the border on images inside links in IE 10.
===== */
img {
  border-style: none;
}

/* =====    
Change the font styles in all browsers.
Remove the margin in Firefox and Safari.
===== */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/* =====    
Show the overflow in IE.
1. Show the overflow in Edge.
===== */
button,
input {
  /* 1 */
  overflow: visible;
}

/* =====    
Remove the inheritance of text transform in Edge, Firefox, and IE.
1. Remove the inheritance of text transform in Firefox.
===== */
button,
select {
  /* 1 */
  text-transform: none;
}

/* ===== Correct the inability to style clickable types in iOS and Safari. ===== */
/* 
button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}
 */
/* ===== Remove the inner border and padding in Firefox. ===== */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* ===== Restore the focus styles unset by the previous rule. ===== */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/* ===== Correct the padding in Firefox. ===== */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/* =====    
fieldset` elements in all browsers.
1. Correct the text wrapping in Edge and IE.
2. Correct the color inheritance from `fieldset` elements in IE.
3. Remove the padding so developers are not caught out when they zero out
===== */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/* ===== Add the correct vertical alignment in Chrome, Firefox, and Opera. ===== */
progress {
  vertical-align: baseline;
}

/* ===== Remove the default vertical scrollbar in IE 10+. ===== */
textarea {
  overflow: auto;
}

/* =====    
1. Add the correct box sizing in IE 10.
2. Remove the padding in IE 10.
===== */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/* ===== Correct the cursor style of increment and decrement buttons in Chrome. ===== */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/* =====    
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
===== */
[type=search] {
  outline-offset: -2px; /* 2 */
}

/* ===== Remove the inner padding in Chrome and Safari on macOS. ===== */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* =====    
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
===== */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* =====    
Interactive
Add the correct display in Edge, IE 10+, and Firefox.
===== */
details {
  display: block;
}

/* ===== Add the correct display in all browsers. ===== */
summary {
  display: list-item;
}

/* =====    
Misc
Add the correct display in IE 10+.
===== */
template {
  display: none;
}

/* ===== Add the correct display in IE 10. ===== */
[hidden] {
  display: none;
}

/* ========== end of base ========== */
/* ========== start of variable ========== */
:root {
  --hue: 227;
  --sat: 47%;
  --primary-color: hsl(var(--hue), var(--sat), 52%);
  --primary-color-light: hsl(var(--hue), var(--sat), 85%);
  --primary-color-lighten: hsl(var(--hue), var(--sat), 80%);
  --secondary-color: hsl(var(--hue), var(--sat), 53%);
  --title-color: hsl(var(--hue), 4%, 15%);
  --text-color: hsl(var(--hue), 4%, 35%);
  --text-color-light: hsl(var(--hue), 4%, 65%);
  --body-color: hsl(var(--hue), 0%, 100%);
  --container-color: #ffffff;
}

/* ========== end of variable ========== */
/* ========== start of repetitive codes ========== */
/* === flex type classes === */
.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-y-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-x-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

/* === position type classes === */
.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.position-x-center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

.position-y-center {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

/* === style type classes === */
.m-auto {
  margin: auto;
}

.unstyled-link {
  color: black;
  text-decoration: none;
}

.unstyled-links li a {
  color: rgb(72, 72, 72);
  text-decoration: none;
}

.unstyled-links li {
  list-style-type: none;
}

.unstyled-button {
  color: black;
  background-color: white;
  padding: 1rem 3rem;
  margin: 0rem;
  border: none;
  border-radius: 0.5rem;
}

.btn {
  background-color: var(--primary-color);
  color: var(--container-color) !important;
  border: 1px solid var(--primary-color);
  padding: 0.7rem 1rem;
}

.btn:hover {
  background-color: white;
  color: var(--secondary-color) !important;
  border: 1px solid var(--primary-color);
}

.layout {
  display: grid;
  grid-template-columns: 1fr;
}

img {
  width: 100%;
  padding: 2rem;
  margin: auto;
}

.h3 {
  color: var(--primary-color);
}

.fs-1::before {
  font-size: 3rem;
}

a {
  color: var(--text-color) !important;
}

body {
  color: var(--text-color);
  background-color: var(--body-color);
}

/* ========== end of repetitive codes ========== */
/* ========== start of function ========== */
@media screen and (min-width: 768px) {
  .layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 4rem;
  }
}
@media screen and (min-width: 1536px) {
  .container-xxl {
    max-width: 1400px;
    margin: auto;
  }
}
/* ========== end of function ========== */
/* ========== start of variable ========== */
:root {
  --hue: 227;
  --sat: 47%;
  --primary-color: hsl(var(--hue), var(--sat), 52%);
  --primary-color-light: hsl(var(--hue), var(--sat), 85%);
  --primary-color-lighten: hsl(var(--hue), var(--sat), 80%);
  --secondary-color: hsl(var(--hue), var(--sat), 53%);
  --title-color: hsl(var(--hue), 4%, 15%);
  --text-color: hsl(var(--hue), 4%, 35%);
  --text-color-light: hsl(var(--hue), 4%, 65%);
  --body-color: hsl(var(--hue), 0%, 100%);
  --container-color: #ffffff;
}

/* ========== end of variable ========== */
/* ========== start of header ========== */
header .navbar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  height: 4.5rem;
  width: 100%;
  padding: 0.5rem 0.5rem;
  background-color: var(--body-color);
  max-width: 1360px;
}
header .navbar .logo a {
  text-decoration: none;
  color: var(--title-color);
  font-size: 1.5rem;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  header .navbar .menu {
    position: fixed;
    top: 5rem;
    right: 50%;
    transform: translate(50%, -23rem);
    background-color: var(--container-color);
    border-radius: 2rem;
    padding: 2.5rem 0rem;
    width: calc(100% - 2rem);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    transition: 0.4s;
  }
  header .navbar .menu-action {
    transform: translate(50%, 0);
  }
  header .navbar .menu ul {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  header .navbar .menu ul li {
    padding: 0.5rem 0.5rem;
  }
  header .navbar .menu-button {
    background-color: transparent;
    border: none;
    color: var(--text-color);
    font-size: 2rem;
  }
  header .navbar .them-btn {
    position: absolute;
    top: -1rem;
    left: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  header .navbar .menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0rem;
    margin: 0rem;
  }
  header .navbar .menu ul li {
    padding: 0.5rem 1rem;
  }
}
header .navbar .checkbox-wrapper-54 {
  /* The switch - the box around the slider */
  /* The slider */
}
header .navbar .checkbox-wrapper-54 input[type=checkbox] {
  visibility: hidden;
  display: none;
}
header .navbar .checkbox-wrapper-54 *, header .navbar .checkbox-wrapper-54 ::after, header .navbar .checkbox-wrapper-54 ::before {
  box-sizing: border-box;
}
header .navbar .checkbox-wrapper-54 .switch {
  --width-of-switch: 3.5em;
  --height-of-switch: 2em;
  /* size of sliding icon -- sun and moon */
  --size-of-icon: 1.4em;
  /* it is like a inline-padding of switch */
  --slider-offset: 0.3em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
  display: inline-block;
}
header .navbar .checkbox-wrapper-54 .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f4f5;
  transition: 0.4s;
  border-radius: 30px;
}
header .navbar .checkbox-wrapper-54 .slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon, 1.4em);
  width: var(--size-of-icon, 1.4em);
  border-radius: 20px;
  left: var(--slider-offset, 0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
  transition: 0.4s;
}
header .navbar .checkbox-wrapper-54 input:checked + .slider {
  background-color: #303136;
}
header .navbar .checkbox-wrapper-54 input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
  background: #303136;
  /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}
header .navbar .menu ul li:not(.them-item) {
  position: relative;
}
header .navbar .show::after {
  content: "";
  background-color: var(--primary-color);
  position: absolute;
  bottom: -0.2rem;
  left: 50%;
  transform: translateX(-50%);
  height: 0.35rem;
  width: 0.35rem;
  border-radius: 100%;
}

header .back-up {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  z-index: 3;
  display: none;
}

/* ========== end of header ========== */
/* ========== start of variable ========== */
.dark {
  --primary-color-light: hsl(var(--hue), 8%, 16%);
  --title-color: hsl(var(--hue), 4%, 95%);
  --text-color: hsl(var(--hue), 4%, 90%);
  --body-color: hsl(var(--hue), 8%, 13%);
  --container-color: hsl(var(--hue), 8%, 16%);
}

/* ========== end of variable ========== */
/* ========== start of section ========== */
/* ========== end of section ========== */
/* ========== start of variable ========== */
:root {
  --hue: 227;
  --sat: 47%;
  --primary-color: hsl(var(--hue), var(--sat), 52%);
  --primary-color-light: hsl(var(--hue), var(--sat), 85%);
  --primary-color-lighten: hsl(var(--hue), var(--sat), 80%);
  --secondary-color: hsl(var(--hue), var(--sat), 53%);
  --title-color: hsl(var(--hue), 4%, 15%);
  --text-color: hsl(var(--hue), 4%, 35%);
  --text-color-light: hsl(var(--hue), 4%, 65%);
  --body-color: hsl(var(--hue), 0%, 100%);
  --container-color: #ffffff;
}

/* ========== end of variable ========== */
/* ========== start of footer ========== */
footer {
  background-color: var(--primary-color-light);
  padding: 0rem 1rem;
}

/* ========== end of footer  ========== *//*# sourceMappingURL=style.css.map */