/* ========== start of variable ========== */
:root {
  --hue: 227;
  --sat: 47%;

  --primary-color: hsl(var(--hue), var(--sat), 55%);
  --primary-color-light: hsl(var(--hue), var(--sat), 85%);
  --primary-color-lighten: hsl(var(--hue), var(--sat), 80%);
  --secondary-color: hsl(var(--hue), var(--sat), 53%);

  --title-color: hsl(var(--hue), 4%, 15%);
  --text-color: hsl(var(--hue), 4%, 35%);
  --text-color-light: hsl(var(--hue), 4%, 65%);
  --body-color: hsl(var(--hue), 0%, 100%);
  --container-color: #ffffff;
}
/* ========== end of variable ========== */
/* ========== start of footer ========== */
footer {
  & {
    background-color: var(--primary-color-light);
    padding: 0rem 1rem;
  }
}
/* ========== end of footer  ========== */
