/* ========== start of variable ========== */
$color-primary: #000000;
$color-secondary: #ffffff;
$color-tertiary: #777777;
$transition: 0.3s ease;
$radius: 0.5rem;
$shadow-light: 0 5px 15px rgba(0, 0, 0, 0.1);
$shadow-dark: 0 5px 15px rgba(0, 0, 0, 0.2);
/* ========== end of variable ========== */
/* ========== start of header ========== */

/* ========== end of header ========== */