/* ========== start of variable ========== */
:root {
  --hue: 227;
  --sat: 47%;

  --primary-color: hsl(var(--hue), var(--sat), 52%);
  --primary-color-light: hsl(var(--hue), var(--sat), 85%);
  --primary-color-lighten: hsl(var(--hue), var(--sat), 80%);
  --secondary-color: hsl(var(--hue), var(--sat), 53%);

  --title-color: hsl(var(--hue), 4%, 15%);
  --text-color: hsl(var(--hue), 4%, 35%);
  --text-color-light: hsl(var(--hue), 4%, 65%);
  --body-color: hsl(var(--hue), 0%, 100%);
  --container-color: #ffffff;
}
/* ========== end of variable ========== */
/* ========== start of header ========== */
header .navbar {
  & {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 4.5rem;
    width: 100%;
    padding: 0.5rem 0.5rem;
    background-color: var(--body-color);
    max-width: 1360px;
    z-index: 100;
  }

  .logo a {
    text-decoration: none;
    color: var(--title-color);
    font-size: 1.5rem;
    font-weight: bold;
  }

  @media screen and (max-width: 767px) {
    .menu {
      position: fixed;
      top: 5rem;
      right: 50%; 
      transform: translate(50%, -23rem);
      background-color: var(--container-color);
      border-radius: 2rem;
      padding: 2.5rem 0rem;
      width: calc(100% - 2rem);
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
      transition: 0.4s;
    }

    .menu-action {
      transform: translate(50%, 0);
    }

    .menu ul {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;
    }

    .menu ul li {
      padding: 0.5rem 0.5rem;
    }

    .menu-button {
      background-color: transparent;
      border: none;
      color: var(--text-color);
      font-size: 2rem;
    }

    .them-btn {
      position: absolute;
      top: -1rem;
      left: 1.5rem;
    }
  }

  @media screen and (min-width: 768px) {
    .menu ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0rem;
      margin: 0rem;
    }

    .menu ul li {
      padding: 0.5rem 1rem;
    }
  }

  .checkbox-wrapper-54 {
    & input[type="checkbox"] {
      visibility: hidden;
      display: none;
    }

    & *,
    & ::after,
    & ::before {
      box-sizing: border-box;
    }

    /* The switch - the box around the slider */
    & .switch {
      --width-of-switch: 3.5em;
      --height-of-switch: 2em;
      /* size of sliding icon -- sun and moon */
      --size-of-icon: 1.4em;
      /* it is like a inline-padding of switch */
      --slider-offset: 0.3em;
      position: relative;
      width: var(--width-of-switch);
      height: var(--height-of-switch);
      display: inline-block;
    }

    /* The slider */
    & .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #f4f4f5;
      transition: 0.4s;
      border-radius: 30px;
    }

    & .slider:before {
      position: absolute;
      content: "";
      height: var(--size-of-icon, 1.4em);
      width: var(--size-of-icon, 1.4em);
      border-radius: 20px;
      left: var(--slider-offset, 0.3em);
      top: 50%;
      transform: translateY(-50%);
      background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
      transition: 0.4s;
    }

    & input:checked + .slider {
      background-color: #303136;
    }

    & input:checked + .slider:before {
      left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
      background: #303136;
      /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
      box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
    }
  }

  .menu ul li:not(.them-item) {
    position: relative;
  }

  .show::after {
    content: '';
    background-color: var(--primary-color);
    position: absolute;
    bottom: -0.2rem;
    left: 50%;
    transform: translateX(-50%);
    height: 0.35rem;
    width: 0.35rem;
    border-radius: 100%;
  }
}

header .back-up {
  & {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    z-index: 3;
    display: none;
  }
}
/* ========== end of header ========== */
