/* ========== start of variable ========== */
:root {
  --hue: 227;
  --sat: 47%;

  --primary-color: hsl(var(--hue), var(--sat), 52%);
  --primary-color-light: hsl(var(--hue), var(--sat), 85%);
  --primary-color-lighten: hsl(var(--hue), var(--sat), 80%);
  --secondary-color: hsl(var(--hue), var(--sat), 53%);

  --title-color: hsl(var(--hue), 4%, 15%);
  --text-color: hsl(var(--hue), 4%, 35%);
  --text-color-light: hsl(var(--hue), 4%, 65%);
  --body-color: hsl(var(--hue), 0%, 100%);
  --container-color: #ffffff;
}
/* ========== end of variable ========== */
/* ========== start of repetitive codes ========== */
/* === flex type classes === */
.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-y-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-x-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

/* === position type classes === */
.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.position-x-center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

.position-y-center {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

/* === style type classes === */
.m-auto {
  margin: auto;
}

.unstyled-link {
  color: black;
  text-decoration: none;
}

.unstyled-links li a {
  color: rgb(72, 72, 72);
  text-decoration: none;
}

.unstyled-links li {
    list-style-type: none;
}

.unstyled-button {
  color: black;
  background-color: white;
  padding: 1rem 3rem;
  margin: 0rem;
  border: none;
  border-radius: 0.5rem;
}

.btn {
  background-color: var(--primary-color);
  color: var(--container-color) !important;
  border: 1px solid var(--primary-color);
  padding: 0.7rem 1rem;
}

.btn:hover {
  background-color: white;
  color: var(--secondary-color) !important;
  border: 1px solid var(--primary-color);
}

.layout {
  display: grid;
  grid-template-columns: 1fr;
}

img {
  width: 100%;
  padding: 2rem;
  margin: auto;
}

.h3 {
  color: var(--primary-color);
}

.fs-1::before {
  font-size: 3rem;
}

a {
  color: var(--text-color) !important;
}

body {
  color: var(--text-color);
  background-color: var(--body-color);
}

/* ========== end of repetitive codes ========== */
/* ========== start of function ========== */
@media screen and (max-with: 575px) {
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
  .layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 4rem;
  }
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1400px) {
}

@media screen and (min-width: 1536px) {
  .container-xxl {
    max-width: 1400px;
    margin: auto;
  }
}
/* ========== end of function ========== */
