/* ========== start of variable ========== */
.dark {
  --primary-color-light: hsl(var(--hue), 10%, 10%);
  --title-color: hsl(var(--hue), 4%, 95%);
  --text-color: hsl(var(--hue), 4%, 90%);
  --body-color: hsl(var(--hue), 8%, 15%);
  --container-color: hsl(var(--hue), 10%, 10%);
}
/* ========== end of variable ========== */
/* ========== start of section ========== */

/* ========== end of section ========== */
