/* ========== start of variable ========== */
.dark {
  --primary-color-light: hsl(var(--hue), 8%, 16%);
  --title-color: hsl(var(--hue), 4%, 95%);
  --text-color: hsl(var(--hue), 4%, 80%);
  --body-color: hsl(var(--hue), 8%, 13%);
  --container-color: hsl(var(--hue), 8%, 16%);
}
/* ========== end of variable ========== */
/* ========== start of section ========== */

/* ========== end of section ========== */
